
/**
 *	APIwesome specific styling.
 *	@author Nathan Glasl <nathan@silverstripe.com.au>
 */

p.apiwesome.notification {
	background: #FFA84C;
	background: -o-linear-gradient(top, #FFA84C, #FF7B0D);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr = '#FFA84C', endColorStr = '#FF7B0D');
	background: -ms-linear-gradient(top, #FFA84C, #FF7B0D);
	background: -moz-linear-gradient(top, #FFA84C, #FF7B0D);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFA84C), color-stop(100%, #FF7B0D));
	background: -webkit-linear-gradient(top, #FFA84C, #FF7B0D);
	padding: 5px;
	border: 1px solid #FF7400;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

a.apiwesome.preview.json, a.apiwesome.preview.xml {
	min-width: 150px;
}

a.apiwesome.preview.json {
	margin: 6px 0;
}

p.grid-csv-button, p.grid-print-button {
	margin-bottom: 16px !important;
}

div.visibility div.fieldgroup div {
	float: none;
}

div.visibility div.fieldgroup div input, div.visibility div.fieldgroup div label {
	vertical-align: middle;
}
