
/**
 *	APIwesome specific styling.
 *	@author Nathan Glasl <nathan@silverstripe.com.au>
 */

p.apiwesome.notification,
div.apiwesome.wrapper,
div.apiwesome.admin {
	padding: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

p.apiwesome.notification {
	background: #FFA84C;
	background: -o-linear-gradient(top, #FFA84C, #FF7B0D);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr = '#FFA84C', endColorStr = '#FF7B0D');
	background: -ms-linear-gradient(top, #FFA84C, #FF7B0D);
	background: -moz-linear-gradient(top, #FFA84C, #FF7B0D);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #FFA84C), color-stop(100%, #FF7B0D));
	background: -webkit-linear-gradient(top, #FFA84C, #FF7B0D);
	border: 1px solid #FF7400;
}

div.apiwesome.wrapper {
	margin-bottom: 16px;
	padding: 0;
	overflow: hidden;
}

div.apiwesome.admin {
	background: #B0BEC7;
	background: -o-linear-gradient(top, #B0BEC7, #98AAB6);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr = '#B0BEC7', endColorStr = '#98AAB6');
	background: -ms-linear-gradient(top, #B0BEC7, #98AAB6);
	background: -moz-linear-gradient(top, #B0BEC7, #98AAB6);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #B0BEC7), color-stop(100%, #98AAB6));
	background: -webkit-linear-gradient(top, #B0BEC7, #98AAB6);
	color: white;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

div.apiwesome.admin.invalid {
	border: 1px solid #FF7400;
}

div.apiwesome.admin.valid {
	border: 1px solid #1F9433;
}

div.apiwesome.admin.error {
	border: 1px solid #D25F5A;
}

div.apiwesome.admin.invalid div.token,
div.apiwesome.admin.valid div.token,
div.apiwesome.admin.error div.token {
	text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
}

div.apiwesome.admin.invalid div.token {
	color: #FF7400;
}

div.apiwesome.admin.valid div.token {
	color: #1F9433;
}

div.apiwesome.admin.error div.token {
	color: #D25F5A;
}

div.apiwesome.admin div {
	margin-bottom: 10px;
}

div.apiwesome.admin a.regenerate,
div.apiwesome.admin a.preview.json,
div.apiwesome.admin a.preview.xml {
	min-width: 150px;
}

div.apiwesome.admin input.preview.token {
	min-width: 580px;
	padding: 4px;
}

div.apiwesome.admin a.preview.json {
	margin-bottom: 5px;
}

div.apiwesome.admin a.preview.json.disabled,
div.apiwesome.admin a.preview.xml.disabled {
	filter: Alpha(opacity = 40);
	opacity: 0.4;
	cursor: not-allowed;
}

div.ss-gridfield-buttonrow.ss-gridfield-buttonrow-before:after {
	display: block;
	clear: both;
	content: '.';
	visibility: hidden;
}

p.grid-csv-button,
p.grid-print-button {
	margin-top: 0;
	margin-bottom: 16px !important;
}

div.visibility div.fieldgroup-field {
	float: none;
}

div.visibility div.fieldgroup-field input,
div.visibility div.fieldgroup-field label {
	vertical-align: middle;
}
